body {
  font-family: helvetica;
  text-align: center;
  border: 2px solid purple;

}

.userInput {
  margin-bottom: 10px;
  height: 20px;
}

.btns {
  margin-top: 30px;
}
.btns button {
  font-size: 14px;
  padding: 5px 10px;
  background-color: black;
  color: white;
}

#output {
  display: block;
  margin: 30px auto 30px auto;
  background-color: lightgray;
  height: 40px;
  width: 100px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
}

.hot {
  color: red;
}

.cold {
  color: blue;
}

.perfect {
  color: green;
}
